@{
    ViewBag.Title = "Home Page";
}

<!-- About Section
  ================================================== -->
<section id="about">

    <div class="row">

        <div class="three columns">

            <img class="profile-pic" src="../images/profilepic.jpg" alt="" />

        </div>

        <div class="nine columns main-col">

            <h2>About Me</h2>

            <p style="margin:0px">
                I am a results-oriented, highly motivated individual with excellent interpersonal and client servicing skills.
                My proclivity for taking initiative has broadened my range of skills and earned me several leadership opportunities throughout my career.
            </p>
            <p style="margin:0px;">I have 5+ years experience in:</p>
            <ul class="intro">
                <li>Requirements determination and analysis</li>
                <li>Developing both web and mobile based solutions leveraging Microsoft's .Net technology stack</li>
                <li>BI and Analytics for market research and analyzing trends</li>
            </ul>
            <p style="margin:-10px 0 0 0;">My role as an Information Technology Analyst at Tata Consultancy Services also included:</p>
            <ul class="intro">
                <li>Sprint planning in an agile development setting</li>
                <li> Formulating responses to Request for Proposals (RFPs)</li>
                <li>Mentoring new associates on the team</li>
                <li> Project work estimation and planning</li>
            </ul>

            <div class="row">

                <div class="columns contact-details">

                    <h2>Contact Details</h2>
                    <p class="address">
                        <span>Divyansh Chaudhary</span><br>
                        <span>
                            4302 College Main Street<br>
                            Bryan, TX 77801 US
                        </span><br>
                        <span>(979) 304-0480</span><br>
                        <span>divyanshch@outlook.com</span>
                    </p>

                </div>

                <div class="columns download">
                    <p>
                        <a href="../Content/Resume/Resume_DC_Tech.docx" class="button"><i class="fa fa-download"></i>Download Resume</a>
                    </p>
                </div>
                <div class="columns download">
                    <div>
                        <img class="certlogo" src="../images/MCSA WebApps-logo-Wht.png" alt="Microsoft Certified Solutions Associate" />
                    </div>
                    <div>
                        <img class="certlogo1" src="../images/MS_Cert_Professional_logo_Wht_rgb.png" alt="Microsoft Certified Professional" />
                    </div>
                </div>

            </div> <!-- end row -->

        </div> <!-- end .main-col -->

    </div>

</section> <!-- About Section End-->
<!-- Resume Section
================================================== -->
<section id="resume">

    <!-- Education
    ----------------------------------------------- -->
    <div class="row education">

        <div class="three columns header-col">
            <h1><span>Education</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row item">

                <div class="twelve columns">
                    <div class="three columns">

                        <img class="school-logo" src="../images/tamu_logo.jpg" alt="" />

                    </div>
                    <h3>Texas A&amp;M University</h3>
                    <p class="info">Master of Science - Management Information Systems<span>&bull;</span> <em class="date">May 2018</em></p>

                    <p>
                        This program provided a comprehensive business curriculum as well as a deeper look into
                        how organizations manage their IT resources. It's a diverse, highly project-based program which has prepared
                        me for interacting with a variety of client types and needs. Courses included IT Strategy,
                        IT Project Management, Advanced Database Design and System Analysis and Design, Survey of Marketing, etc.
                    </p>

                </div>

            </div> <!-- item end -->

            <div class="row item">

                <div class="twelve columns">
                    <div class="three columns">

                        <img class="school-logo" src="../images/utu_logo.jpg" alt="" />

                    </div>
                    <h3>Uttarakhand Technical University</h3>
                    <p class="info">Bachelor of Technnology - Electronics and Communication Engineering <span>&bull;</span> <em class="date">May 2010</em></p>

                    <p>
                        This program was designed to help meet the growing demand for technical skills and resources worldwide.
                        It provided a solid foundation of engineering expertise from both the Computer Science and Engineering departments,
                        which served well for the beginnings of my career. Courses included Data Structures using C, Network Design,
                        IT Security, Digital Logic Design, Digital Signal/Image Processing, and Optical and Wireless Communications.
                    </p>

                </div>

            </div> <!-- item end -->

        </div> <!-- main-col end -->

    </div> <!-- End Education -->
    <!-- Work
    ----------------------------------------------- -->
    <div class="row work">

        <div class="three columns header-col">
            <h1><span>Work</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row item">

                <div class="twelve columns">

                    <h3>Texas A&amp;M Engineering Experiment Station</h3>
                    <p class="info">Senior Student Assistant <span>&bull;</span> <em class="date">February 2017 - Present</em></p>

                    <p style="margin:0px;">
                        TEES is an engineering Research agency at Texas A&M University. My job responsibilities as a Senior Student Assistant include:
                    </p>
                    <p style="margin:0px;"><b>Project Management</b></p>
                    <ul class="intro">
                        <li>Participate in project planning</li>
                        <li>Prepare Project Planning documentation including budgeting and stakeholder management documents</li>
                    </ul>
                    <p style="margin:-12px 0 0 0;"><b>Development and IT support</b></p>
                    <ul class="intro">
                        <li>Develop SharePoint and WordPress based web solutions for research projects in TEES</li>
                        <li>Assist faculty members and Engineering Department heads in maintaining department as well their research web portals</li>
                    </ul>
                </div>

            </div> <!-- item end -->

            <div class="row item">

                <div class="twelve columns">

                    <h3>Tata Consultancy Services</h3>
                    <p class="info">Information Technology Analyst <span>&bull;</span> <em class="date">January 2011 - June 2016</em></p>

                    <p style="margin:0px;">
                        During my tenure in the company, I worked in following roles:
                    </p>
                    <p style="margin:0px;">
                        <b> Project/Product Manager:</b>
                    </p>
                    <ul class="intro">
                        <li>Liaised between client and offshore design and implementation team</li>
                        <li>Assisted in the creation of functional specification documents</li>
                    </ul>
                    <p style="margin:-12px 0 0 0;">
                        <b>Software Development Engineer</b>
                    </p>
                    <ul class="intro">
                        <li>Developed solutions based on specification documents</li>
                        <li>Trained new resources in project-critical technologies and tools</li>
                    </ul>

                </div>

            </div> <!-- item end -->

        </div> <!-- main-col end -->

    </div> <!-- End Work -->
    <!-- Skills
    ----------------------------------------------- -->
    <div class="row skill">

        <div class="three columns header-col">
            <h1><span>Skills</span></h1>
        </div>

        <div class="nine columns main-col">

            <p>
                Over the course of my career and through many educational opportunities, I've acquired the following technical proficiencies:
            </p>

            <div class="bars">

                <ul class="skills">
                    <li><span class="bar-expand photoshop"></span><em>ASP.Net with C#</em></li>
                    <li><span class="bar-expand illustrator"></span><em>Java</em></li>
                    <li><span class="bar-expand wordpress"></span><em>Python</em></li>
                    <li><span class="bar-expand css"></span><em>HTML5,CSS,jQuery</em></li>
                    <li><span class="bar-expand html5"></span><em>React JS</em></li>
                    <li><span class="bar-expand jquery"></span><em>Project Management</em></li>
                </ul>

            </div><!-- end skill-bars -->

        </div> <!-- main-col end -->

    </div> <!-- End skills -->

</section> <!-- Resume Section End-->
<!--Portfolio Section
=================================================  -->
<section id="portfolio">

    <div class="row">

        <div class="twelve columns collapsed">

            <h1>Check Out Some of My Works.</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

                <div class="columns portfolio-item">
                    <div class="item-wrap">

                        <a href="#modal-01" title="">
                            <img alt="" src="../images/portfolio/coffee.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Coffee</h5>
                                    <p>Illustrration</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->

                <div class="columns portfolio-item">
                    <div class="item-wrap">

                        <a href="#modal-02" title="">
                            <img alt="" src="../images/portfolio/console.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Console</h5>
                                    <p>Web Development</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->

                <div class="columns portfolio-item">
                    <div class="item-wrap">

                        <a href="#modal-03" title="">
                            <img alt="" src="../images/portfolio/judah.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Judah</h5>
                                    <p>Webdesign</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->

                <div class="columns portfolio-item">
                    <div class="item-wrap">

                        <a href="#modal-04" title="">
                            <img alt="" src="../images/portfolio/into-the-light.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Into The Light</h5>
                                    <p>Photography</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->



            </div> <!-- portfolio-wrapper end -->

        </div> <!-- twelve columns end -->
        <!-- Modal Popup
         --------------------------------------------------------------- -->

        <div id="modal-01" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="images/portfolio/modals/m-coffee.jpg" alt="">

            <div class="description-box">
                <h4>Coffee Cup</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
            </div>

            <div class="link-box">
                <a href="http://www.behance.net">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-01 End -->

        <div id="modal-02" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="../images/portfolio/modals/m-console.jpg" alt="">

            <div class="description-box">
                <h4>Console</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <span class="categories"><i class="fa fa-tag"></i>Branding, Web Development</span>
            </div>

            <div class="link-box">
                <a href="http://www.behance.net">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-02 End -->

        <div id="modal-03" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="../images/portfolio/modals/m-judah.jpg" alt="">

            <div class="description-box">
                <h4>Judah</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <span class="categories"><i class="fa fa-tag"></i>Branding</span>
            </div>

            <div class="link-box">
                <a href="http://www.behance.net">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-03 End -->

        <div id="modal-04" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="../images/portfolio/modals/m-intothelight.jpg" alt="">

            <div class="description-box">
                <h4>Into the Light</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <span class="categories"><i class="fa fa-tag"></i>Photography</span>
            </div>

            <div class="link-box">
                <a href="http://www.behance.net">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-04 End -->




    </div> <!-- row End -->

</section>
<!--Portfolio section End-->
<!-- Contact Section
================================================== -->
<section id="contact">

    <div class="row section-head">

        <div class="two columns header-col">

            <h1><span>Get In Touch.</span></h1>

        </div>

        <div class="ten columns">

            <p class="lead">
                You can reach out to me using the contact form below for job offerings, Pro-bono consulting, or just to say hi!

            </p>
            <p class="lead"> I will reach out to you within 24-48 hours.</p>
        </div>

    </div>

    <div class="row">

        <div class="eight columns">

            <!-- form -->
            <form action="" method="post" id="contactForm" name="contactForm">
                <fieldset>

                    <div>
                        <label for="contactName">Name <span class="required">*</span></label>
                        <input type="text" value="" size="35" id="contactName" name="contactName">
                    </div>

                    <div>
                        <label for="contactEmail">Email <span class="required">*</span></label>
                        <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                    </div>

                    <div>
                        <label for="contactSubject">Subject</label>
                        <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                    </div>

                    <div>
                        <label for="contactMessage">Message <span class="required">*</span></label>
                        <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                    </div>

                    <div>
                        <button class="submit">Submit</button>
                        <span id="image-loader">
                            <img alt="" src="../images/loader.gif">
                        </span>
                    </div>

                </fieldset>
            </form> <!-- Form End -->
            <!-- contact-warning -->
            <div id="message-warning"> Error boy</div>
            <!-- contact-success -->
            <div id="message-success">
                <i class="fa fa-check"></i>Your message was sent, thank you!<br>
            </div>
        </div>
    </div>

</section> <!-- Contact Section End-->
